.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.img {
  padding-top: 1.5rem;
  display: block;
  margin: auto;
  margin-right: 100px;
}

.about-text {
  font-family: 'Oxygen Mono', monospace;
  padding-top: 1rem;
  display: block;
  margin: auto;
  margin-right: 120px;
}

.bg-about {
  /* background-color: #839b97; */
  background-color: #cecece;
}

.text-color {
  color: #6a7e7a;
}