.page-section {
    padding: 6rem 0;
    background-color: #b2b7be;
  }
  
  .page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  
  @media (min-width: 992px) {
    .page-section .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }

.img {
    padding-top: 1.5rem;
    display: block;
    margin: auto;
}

.about-text {
    padding-top: 1rem;
    display: block;
    margin: auto;
}